/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: normal 20px/27px 'Roboto Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  max-width: 1680px;
  margin: 0 auto;
  text-transform: uppercase;
}

header .bg-light {
  background-color: #fff !important;
  padding: 22px 14px 22px 15px;
}

header .bg-light .navbar-brand {
  background-color: #000000;
  color: #fff;
  font: 300 45px/27px 'Roboto Condensed', sans-serif;
  padding: 18px 31px 15px;
  margin-left: 19px;
  letter-spacing: 5px;
}

header .bg-light .navbar-brand:visited {
  color: #fff;
}

header .bg-light .navbar-brand:hover {
  color: #cccccc;
}

header .bg-light .navbar-collapse {
  padding: 5px 7px 0 0;
}

header .bg-light .navbar-collapse li {
  padding: 0 12px 0 11px;
}

header .bg-light .navbar-collapse li.your-account {
  padding: 0 4px 0 10px;
}

header .bg-light .navbar-collapse li.your-account a {
  background: url("../images/locked-active.png") left center no-repeat;
  padding-left: 40px;
}

header .bg-light .navbar-collapse li.active a {
  color: #267ec1 !important;
}

header .bg-light .navbar-collapse li.buy-now a {
  background-color: #ff0000;
  color: #fff;
  font: 600 24px/27px 'Roboto Condensed', sans-serif;
  padding: 4px 10px 7px 13px;
  position: relative;
  top: 3px;
  letter-spacing: 2px;
}

header .bg-light .navbar-collapse li.buy-now a:visited {
  color: #fff;
}

.films-container {
  max-width: 1680px;
  margin: 0 auto;
  height: 1017px;
  background-color: #272121;
  padding: 78px 90px 0 90px;
}

.films-container .film {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 844px;
  position: relative;
}

.films-container .film .film-playlist {
  width: 503px;
  height: 681px;
  background-color: #423838;
  color: #fff;
  margin-bottom: 6px;
  display: none;
  position: absolute;
  right: -40px;
  bottom: 0;
}

.films-container .film .film-playlist::after {
  height: 657px;
  content: '';
  border-right: 8px solid #242121;
  border-radius: 5px;
  position: absolute;
  top: 13px;
  right: 10px;
}

.films-container .film .film-playlist .film-playlist-panel-A,
.films-container .film .film-playlist .film-playlist-panel-B {
  background-color: #100f0f;
}

.films-container .film .film-playlist .film-playlist-panel-A h2::after,
.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item::after,
.films-container .film .film-playlist .film-playlist-panel-B h2::after,
.films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item::after {
  width: 503px;
  content: '';
  border-bottom: 1px solid #5a5454;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.films-container .film .film-playlist .film-playlist-panel-A h2,
.films-container .film .film-playlist .film-playlist-panel-B h2 {
  font: 600 24px/27px 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  padding: 15px 19px;
  position: relative;
  width: 100%;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item,
.films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item {
  padding: 18px 20px 12px 20px;
  background-color: #423838;
  position: relative;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title,
.films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title {
  display: flex;
  justify-content: space-between;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title h3,
.films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title h3 {
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  top: -3px;
  left: -2px;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title button,
.films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title button {
  background: url("../images/button-content-hidden.png") left center no-repeat;
  width: 46px;
  height: 21px;
  border: none;
  outline: none;
  margin-right: 10px;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-content,
.films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-content {
  display: none;
  margin: 3px 11px 0 0;
  text-align: justify;
  font: 400 16px/25px 'Roboto Condensed', sans-serif;
}

.films-container .film .film-playlist .film-playlist-panel-A .active,
.films-container .film .film-playlist .film-playlist-panel-B .active {
  background-color: #100f0f;
}

.films-container .film .film-playlist .film-playlist-panel-A .active .film-playlist-title button,
.films-container .film .film-playlist .film-playlist-panel-B .active .film-playlist-title button {
  background-image: url("../images/button-content-visible.png");
}

.films-container .film .film-playlist .film-playlist-panel-A .active .film-playlist-content,
.films-container .film .film-playlist .film-playlist-panel-B .active .film-playlist-content {
  display: block;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item:not(:first-of-type) {
  padding: 19px 20px 15px 20px;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item:nth-of-type(4) {
  padding-top: 18px;
}

.films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item:nth-of-type(4), .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item:last-of-type {
  padding-bottom: 14px;
}

.films-container .film-details {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 0 5px;
}

.films-container .film-details .film-name {
  font: 400 25px/27px 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.films-container .film-details .film-name p:nth-child(2) {
  color: #b4622e;
  font-size: 21px;
  letter-spacing: 0px;
  position: relative;
  top: -2px;
  left: -1px;
}

.films-container .film-details .film-settings {
  position: relative;
  right: -1px;
  align-self: flex-end;
}

.films-container .film-details .film-settings a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
}

.films-container .film-details .film-settings a:nth-child(1) {
  margin-right: 1px;
}

.films-container .film-details .film-settings a.active::before {
  position: absolute;
  top: -75px;
  left: 3px;
  transform: rotate(45deg);
  width: 34px;
  height: 34px;
  background-color: #423838;
  content: '';
}

.films-description {
  max-width: 1680px;
  margin: 0 auto;
  padding: 42px 89px 55px 96px;
  background-color: #ebebeb;
  color: #7d7d7d;
}

.films-description h2 {
  display: none;
}

.films-description p {
  font: 400 18px/30px 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: justify;
}

.films-description .download {
  margin-top: 41px;
  display: flex;
}

.films-description .download img {
  width: 50px;
  height: 50px;
  position: relative;
  left: -5px;
}

.films-description .download .file {
  flex-direction: column;
  margin: 12px 0 0 9px;
}

.films-description .download .file p {
  margin-bottom: 0px;
  font-size: 21px;
  line-height: 10px;
}

.films-description .download .file a {
  font-size: 16px;
  color: #d57232;
}

/* Media queries */
/* For larger computers: */
@media (max-width: 1199px) {
  body {
    font: normal 1.15em/27px 'Roboto Condensed', sans-serif;
  }
  header,
  .films-container,
  .films-description {
    width: 100%;
    height: 100%;
  }
  header .bg-light {
    padding: 1em 0;
  }
  header .bg-light .navbar-brand {
    font-size: 2.2em;
    padding: 17px 28px 13px 28px;
    margin-left: 0.4em;
  }
  header .bg-light .navbar-collapse {
    padding-right: 0.1em;
  }
  header .bg-light .navbar-collapse li {
    padding: 0 0.15em 0 0.1em;
  }
  header .bg-light .navbar-collapse li.buy-now a {
    font-size: 1.2em;
    padding: 0.15em 0.3em 0.15em 0.31em;
  }
  .films-container {
    padding: 3.5em 4em 1em 4em;
  }
  .films-container .film .film-playlist {
    width: 25em;
    height: 36em;
    right: -1.5em;
  }
  .films-container .film .film-playlist::after {
    height: 35em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A h2,
  .films-container .film .film-playlist .film-playlist-panel-B h2 {
    font-size: 1.2em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A h2::after,
  .films-container .film .film-playlist .film-playlist-panel-B h2::after {
    width: 20.9em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item::after,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item::after {
    width: 25em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title h3,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title h3 {
    font-size: 0.85em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title button,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title button {
    width: 2.2em;
    height: 1em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-content,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-content {
    font-size: 0.8em;
  }
  .films-container .film-details {
    padding-top: 1.4em;
  }
  .films-container .film-details .film-name {
    font-size: 1.2em;
  }
  .films-container .film-details .film-name p:nth-child(2) {
    font-size: 0.9em;
  }
  .films-container .film-details .film-settings a img {
    width: 2.35em;
    height: 2.35em;
  }
  .films-container .film-details .film-settings a.active::before {
    top: -4.3em;
    width: 1.8em;
    height: 1.8em;
  }
  .films-description {
    padding: 1.7em 4em 2em 4.2em;
  }
  .films-description p {
    font-size: 0.9em;
    margin-bottom: 1.3em;
  }
  .films-description .download {
    margin-top: 1.7em;
  }
  .films-description .download img {
    width: 2.3em;
    height: 2.3em;
  }
  .films-description .download .file {
    margin: 0.35em 0 0 0.5em;
  }
  .films-description .download .file p {
    font-size: 1em;
  }
  .films-description .download .file a {
    font-size: 0.8em;
  }
}

/* For computers: */
@media (max-width: 991px) {
  header .bg-light {
    padding: 1em 2em;
  }
  header .bg-light .navbar-toggler {
    outline: none;
  }
  header .bg-light .navbar-brand {
    margin-left: 0;
    font-size: 2em;
    padding: 0.4em 0.6em 0.3em 0.7em;
  }
  header .bg-light .navbar-collapse {
    padding: 1em 0;
  }
  header .bg-light .navbar-collapse li {
    width: 25em;
    padding: 0.5em 1em 0.5em 0;
  }
  header .bg-light .navbar-collapse li.your-account {
    padding: 0.5em 1em 0.5em 0;
  }
  .films-container {
    padding: 3em 3.5em 0.8em 3.5em;
  }
  .films-container .film .film-playlist {
    width: 22em;
    height: 33em;
  }
  .films-container .film .film-playlist::after {
    height: 32em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A h2::after,
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item::after,
  .films-container .film .film-playlist .film-playlist-panel-B h2::after,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item::after {
    width: 22em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A h2,
  .films-container .film .film-playlist .film-playlist-panel-B h2 {
    font-size: 1em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title h3,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title h3 {
    font-size: 0.8em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title button,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title button {
    width: 2.1em;
    height: 0.9em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-content,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-content {
    font-size: 0.7em;
  }
  .films-container .film-details {
    padding-top: 1em;
  }
  .films-container .film-details .film-settings a.active::before {
    top: -3.9em;
    width: 1.7em;
    height: 1.7em;
  }
  .films-description {
    padding: 1.2em 3.5em 1.5em 3.8em;
  }
}

/* For tablets: */
@media (max-width: 767px) {
  header .bg-light .navbar-brand {
    font-size: 1.8em;
    padding: 0.3em 0.5em 0.2em 0.6em;
  }
  header .bg-light .navbar-collapse li {
    width: 22em;
  }
  .films-container {
    padding: 2em 2.5em 0.8em 2.5em;
  }
  .films-container .film .film-playlist {
    width: 20em;
    height: 31em;
    right: -1em;
  }
  .films-container .film .film-playlist::after {
    height: 30em;
  }
  .films-container .film .film-playlist .film-playlist-panel-A h2::after,
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item::after,
  .films-container .film .film-playlist .film-playlist-panel-B h2::after,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item::after {
    width: 20em;
  }
  .films-container .film-details .film-name {
    font-size: 1em;
  }
  .films-container .film-details .film-name p:nth-child(2) {
    font-size: 0.7em;
  }
  .films-container .film-details .film-settings a img {
    width: 2.15em;
    height: 2.15em;
  }
  .films-container .film-details .film-settings a.active::before {
    width: 1.6em;
    height: 1.6em;
  }
  .films-description {
    padding: 1em 3.3em 1.3em 3.6em;
  }
  .films-description .download {
    margin-top: 1.5em;
  }
  .films-description .download img {
    width: 2em;
    height: 2em;
  }
  .films-description .download .file {
    margin-top: 0.25em;
  }
  .films-description .download .file p {
    font-size: 0.8em;
  }
  .films-description .download .file a {
    font-size: 0.7em;
  }
}

/* For smart phones: */
@media (max-width: 479px) {
  header .bg-light {
    padding: 1em;
  }
  header .bg-light .navbar-brand {
    font-size: 1.6em;
    padding: 0.2em 0.35em 0.18em 0.5em;
    margin-right: 0;
  }
  header .bg-light .navbar-collapse li {
    width: 80vw;
  }
  .films-container {
    padding: 1.5em 1.5em 0.3em 1.5em;
  }
  .films-container .film .film-playlist {
    width: 90%;
    height: 100%;
    max-height: 52em;
    right: 5%;
  }
  .films-container .film .film-playlist::after {
    height: 97%;
  }
  .films-container .film .film-playlist .film-playlist-panel-A h2::after,
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item::after,
  .films-container .film .film-playlist .film-playlist-panel-B h2::after,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item::after {
    width: 100%;
  }
  .films-container .film .film-playlist .film-playlist-panel-A .film-playlist-item .film-playlist-title h3,
  .films-container .film .film-playlist .film-playlist-panel-B .film-playlist-item .film-playlist-title h3 {
    width: 70%;
    margin-right: 3vw;
  }
  .films-container .film-details {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    padding: 0;
  }
  .films-container .film-details .film-name {
    padding-bottom: 0.7em;
  }
  .films-container .film-details .film-settings {
    align-self: auto;
    padding: 1.2em 0 0.8em 0;
  }
  .films-container .film-details .film-settings a {
    margin-left: 0.8em;
  }
  .films-container .film-details .film-settings a:nth-child(1) {
    margin-left: 0;
  }
  .films-container .film-details .film-settings a.active::before {
    top: -3.8em;
  }
  .films-description {
    padding: 0.9em 1em 1.2em 1em;
  }
  .films-description p {
    letter-spacing: normal;
    text-align: center;
  }
  .films-description .download {
    justify-content: center;
  }
  .films-description .download img {
    width: 2em;
    height: 2em;
  }
  .films-description .download .file {
    margin: 0 0 0 0.3em;
    text-align: center;
  }
  .films-description .download .file p {
    line-height: 1.1em;
  }
}

/*# sourceMappingURL=style.css.map */